
  <H3>Carlos Munoz Kampff - 617-780-8362 - elmunoz42@gmail.com</h3>
    <img src="https://elmunoz42.github.io/CMK-Portfolio/img/portrait2.jpeg" alt="mypicture">
  <a href="https://elmunoz42.github.io/CMK-Portfolio/"><h3>github portfolio</h3></a>
