<div class="container">
  <header class="jumbotron">
    <h1>Question and Answer Message Board</h1>
  </header>
  {{#link-to 'index'}}Questions{{/link-to}}
  <hr>

{{outlet}}


<hr>
<footer>
  <a href="https://elmunoz42.github.io/CMK-Portfolio/">Carlos Munoz Kampff - 617-780-8362 - elmunoz42@gmail.com</a>
</footer>
</div>
<!-- container -->
