<div class="container">
  <header class="jumbotron image">
    <h1 id="banner">Music Trivia Challenge</h1>
    <hr>

    <div id="navbar" class="row">
      <div class="col-sm-6">
        <h4>{{#link-to 'index'}}Home{{/link-to}}</h4>
      </div>
      <!-- left column -->
      <div class="col-sm-6">
        <h4>{{#link-to 'about'}}About{{/link-to}}</h4>
      </div>
      <!-- right column -->
    </div>
</header>
  <hr>

{{outlet}}


<hr>
<footer>
  <a href="https://elmunoz42.github.io/CMK-Portfolio/">Carlos Munoz Kampff</a>
</footer>
</div>
<!-- container -->
