<div class="container">
  <div class="jumbotron">
    <h1>Question and Answer Message Board</h1>
  </div>
  {{#link-to 'index'}}Questions{{/link-to}}
  <hr>
  <!-- jumbotron -->
{{outlet}}


</div>
<!-- container -->
<hr>
<footer>
  <a href="https://elmunoz42.github.io/CMK-Portfolio/">Carlos Munoz Kampff - 617-780-8362 - elmunoz42@gmail.com</a>
</footer>
