<div class="jumbotron">
  <h3>So you think you are good at music trivia?</h3>
</div>

{{create-question saveQuestion="saveQuestion"}}

{{#each model.questions as |question|}}

  <div class="jumbotron">
    {{question-tile question=question }}
  </div>

{{/each}}
