
<div class="jumbotron">
  {{update-question question=model update="update"}}
  {{question-detail question=model destroyQuestion="destroyQuestion"}}
  {{create-answer question=model saveAnswer="saveAnswer"}}
</div>
